body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightsteelblue;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 200px;
}
.order {
  background-color: white;
  border-radius: 7px;
}
.order__image {
}
.order__content {
}
.order__title {
  font-size: 30px;
  text-align: center;
}
.order__text {
  color: lightgrey;
  font-size: 15px;
  text-align: center;
  font-weight: 800;
}
.order__card {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
}
.order__music__icon {
  margin: 10px;
}
.order__card__details {
  list-style: none;
}
.order__card__details__annual {
  font-weight: 700;
  color: black;
}
.order__card__details__price {
  color: lightgrey;
  font-weight: 600;
}
.order__card__details__change {
  margin: 20px;
}
.order__button__blue{
    background-color: blue;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left: 120px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 250px;
    font-weight: 600;
}
.order__button__cancel{
    color:gray;
    background-color:whitesmoke;
    border: none;
    text-align: center;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    
}

